footer {
	position: relative;
	background-color: $bg;
	background-image: url('../assets/asanoha-400px.png');
	padding: 40px;
	text-align: center;

	p {
		margin: 0;
		font-size: 14px;
	}
}

.tothetop {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 22px;

	&:hover {
		animation: jumptop .5s ease;	
	}

	a {
		color: $white;
	}
}

@keyframes jumptop {
	0% {
		top: 12px;
	}

	40% {
		top: 2px;
	}

	50% {
		top: 10px;
	}

	90% {
		top: 2px;
	}

	100% {
		top: 10px;
	}
}

.social {
	padding: 20px 0 30px;
	margin: 20px auto;

	p {
		letter-spacing: 1px;
		font-size: 18px;
		margin-bottom: 20px;
		color: $accent;
	}
}

.media {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		margin: 0 30px;
		font-size: 25px;
		line-height: 44px;
		transition: all .3s ease;
		color: $accent;

		&:hover {
			color: $hover;
		}
	}
}