header {
	height: 100vh;
	background-color: $bg;
	background-image: url('../assets/asanoha-400px.png');
	color: $black;
	position: relative;

	.wrapper {
		height: 50%;
	}
}

.decal {
	width: 600px;
	height: 600px;
	position: absolute;
	z-index: 1;
	background: url('../../assets/floral.svg') no-repeat;
}

.footer-left, .footer-right {
	bottom: 0;
}

.footer-left {
	left: 0;
	background-position: -300px 290px;
}

.footer-right {
	right: 0;
	background-position: 300px 290px;
}

.logo-left {
	top: 0;
	left: 0;
	background-position: -300px -310px;
}

.logo-right {
	bottom: 0;
	right: 0;
	background-position: 300px 290px;
}

.hidden-menu {
	display: none;
	margin-top: 30px;
	position: relative;
	z-index: 2;
}

.fa-times {
	display: none;
}

.fa-times, .fa-bars {
	color: $white;
	font-size: 24px;
	cursor: pointer;

}

.bg-overlay {
	background: rgba(0,0,0,0.9);
}

nav {
	padding-top: 50px;
	display: flex;
	justify-content: flex-end;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin: 0 20px 0 65px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav a {
	position: relative;
	transition: all .3s ease;
	color: $accent;
}

nav a::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	height: 2px;
	width: 100%;
	transform: scaleX(0);
	background: $accent;
	transition: all .3s ease;
}

nav a:hover, nav a:focus {
	color: $hover;
}

nav a:hover::before {
	transform: scaleX(1);
}

.main__landing {
	transform: translateY(-50%);
	position: relative;
	text-align: center;
	font-size: 22px;
	color: $font;
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../../assets/black-and-white-apple-iphone-smartphone.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		bottom: -20px;
		right: -20px;
		left: -20px;
		border: 3px solid white;
	}

	p {
		margin: 0 0 20px;
		letter-spacing: 4px;
	}
}

h1 {
	font-size: 65px;
	color: $bright;
	margin: 0;
	letter-spacing: 5px;
	text-transform: uppercase;	
}