@media all and (max-width: 1080px) {
	.about__repertoire-list {
		padding: 0 100px;
	}
}

@media all and (max-width: 970px) {
	.wrapper {
		width: 85%;
	}

	nav {
		justify-content: center;
	}

	nav ul {
		justify-content: center;
	}

	nav li {
		margin: 0 50px;
	}

	.main__landing {
		width: 75%;
	}

	.about__repertoire-list div {
		margin-left: 20px;
		margin-right: 20px;
		width: calc(25% - 40px);
	}
}

@media all and (max-width: 900px) {
	.about__repertoire-list {
		width: 100%;
		padding: 0;
	}
}

@media all and (max-width: 800px) {
	.wrapper {
		width: 90%;
	}

	.about {
		flex-direction: column-reverse;

		div {
			width: 100%;
		}
	}

	.originalpic {
		display: none;
	}

	.minpic {
		display: block;
		width: 100%;
	}

	.about__repertoire-list {
		width: 100%;
	}
}

@media (max-width: 650px) {
	.wrapper {
		width: 100%;
	}

	.logo {
		bottom: 0;
		transform: translate(-50%, 60.5%);
	}

	.hidden-menu {
		display: block;
		margin-right: 60px;
	}

	nav {
		justify-content: flex-end;
	}

	nav ul {
		top: -100%;
		height: 100%;
		position: fixed;
		z-index: 3;
		width: 100%;
		flex-direction: column;
		align-items: center;
		transition: all .3s ease;
	}

	nav li, .fa-times {
		margin: 40px 0;
	}

	.main__landing {
		width: 100%;

		&::before {
			right: 0;
			left: 0;
			border-right: none;
			border-left: none;
		}
	}

	.about__repertoire-list {
		padding: 0;
	}

	.about__repertoire-list div {
		width: calc(33.33% - 40px);
	}

	h3 {
		margin: 0 20px;
		display: block;
		text-align: center;
	}

	.button-container {
		margin: 0 auto;
		text-align: center;
	}

	.portfolio-pieces__piece-link {
		margin: 20px 10px 0;
	}

	.footer-left, .footer-right {
		width: 400px;
		height: 400px;
		// background-position: 100px 100px;
	}

	.footer-left {
		background-position: -200px 195px;
	}

	.footer-right {
		background-position: 200px 195px;
	}
}