article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: "Source Sans Pro", sans-serif;
  color: #113C49; }

body {
  background: white; }

a {
  text-decoration: none;
  color: #7CB4C1; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto; }

section {
  padding-top: 50px; }

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px; }

h2 {
  margin-bottom: 40px;
  font-size: 33px; }

h3 {
  text-align: left; }

header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/coffee-work-desk-mug-keyboard-162616.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #212121;
  position: relative; }
  header .wrapper {
    height: 50%; }

.hidden-menu {
  display: none;
  margin-top: 30px;
  position: relative;
  z-index: 2; }

.fa-times {
  display: none; }

.fa-times, .fa-bars {
  color: #FFF;
  font-size: 24px;
  cursor: pointer; }

.bg-overlay {
  background: rgba(0, 0, 0, 0.9); }

nav {
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

nav li {
  margin: 0 20px 0 65px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px; }

nav a {
  position: relative;
  transition: all .3s ease;
  color: #FCD2C7; }

nav a::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background: #FCD2C7;
  transition: all .3s ease; }

nav a:hover, nav a:focus {
  color: #E9B493; }

nav a:hover::before {
  transform: scaleX(1); }

.main__landing {
  transform: translateY(-50%);
  position: relative;
  text-align: center;
  font-size: 22px;
  color: #113C49;
  width: 60%;
  margin: 0 auto;
  padding: 50px 0; }
  .main__landing::before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    border: 3px solid white; }
  .main__landing p {
    margin: 0 0 20px;
    letter-spacing: 4px; }

h1 {
  font-size: 65px;
  color: #7CB4C1;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase; }

footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center; }
  footer p {
    margin: 0;
    font-size: 14px; }

.tothetop {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px; }
  .tothetop:hover {
    animation: jumptop .5s ease; }
  .tothetop a {
    color: #FFF; }

@keyframes jumptop {
  0% {
    top: 12px; }
  40% {
    top: 2px; }
  50% {
    top: 10px; }
  90% {
    top: 2px; }
  100% {
    top: 10px; } }

.social {
  padding: 20px 0 30px;
  margin: 20px auto; }

.email {
  letter-spacing: 7px;
  display: inline-block;
  font-size: 22px;
  margin: 20px 0 40px;
  color: #FCD2C7;
  position: relative; }
  .email::before, .email::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px; }
  .email::before {
    top: -20px;
    left: -40px;
    border-top: 2px solid #E9B493;
    border-left: 2px solid #E9B493; }
  .email::after {
    bottom: -20px;
    right: -40px;
    border-bottom: 2px solid #E9B493;
    border-right: 2px solid #E9B493; }

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  z-index: 2; }
  .media a {
    margin: 0 30px;
    font-size: 20px;
    line-height: 44px;
    transition: all .3s ease;
    color: #FCD2C7; }
    .media a:hover {
      color: #E9B493; }

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  text-align: left;
  color: #113C49;
  padding: 0 30px;
  position: relative;
  z-index: 2; }
  .about > div {
    width: 45%; }
  .about h2 {
    text-align: left; }
  .about p {
    line-height: 28px; }

.originalpic, .minpic {
  box-shadow: -5px 7px 30px rgba(0, 0, 0, 0.4); }

.originalpic {
  display: block;
  width: 100%; }

.minpic {
  display: none; }

blockquote {
  margin: 0 20px 40px;
  padding-left: 20px;
  padding-right: 10px;
  position: relative; }
  blockquote::before, blockquote::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px; }
  blockquote::before {
    top: -20px;
    left: -20px;
    border-top: 2px solid #7CB4C1;
    border-left: 2px solid #7CB4C1; }
  blockquote::after {
    bottom: -20px;
    right: -20px;
    border-bottom: 2px solid #7CB4C1;
    border-right: 2px solid #7CB4C1; }

.jk {
  text-decoration: line-through;
  color: gray; }

.inner-wrapper {
  width: 90%;
  margin: 0 auto; }

.about__repertoire {
  margin-top: 50px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #113C49; }

.about__repertoire-list {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px; }
  .about__repertoire-list p {
    margin: 0;
    font-size: 17px;
    color: #FFF; }
  .about__repertoire-list img {
    width: 60px; }
  .about__repertoire-list div {
    width: calc(20% - 20px);
    margin: 45px 10px; }

.portfolio {
  padding: 30px;
  position: relative;
  z-index: 2; }

.portfolio-pieces__piece-img img {
  width: 100%;
  display: block; }

.portfolio-pieces__piece {
  position: relative;
  padding: 50px 0; }
  .portfolio-pieces__piece:first-child {
    padding-top: 0; }
  .portfolio-pieces__piece:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }

.portfolio-pieces__piece-skills {
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative; }
  .portfolio-pieces__piece-skills::before, .portfolio-pieces__piece-skills::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px; }
  .portfolio-pieces__piece-skills::before {
    top: -10px;
    left: 0;
    border-top: 2px solid #7CB4C1;
    border-left: 2px solid #7CB4C1; }
  .portfolio-pieces__piece-skills::after {
    bottom: -10px;
    right: 0;
    border-bottom: 2px solid #7CB4C1;
    border-right: 2px solid #7CB4C1; }
  .portfolio-pieces__piece-skills ul {
    width: 100%; }
  .portfolio-pieces__piece-skills li {
    margin: 10px; }

.details p {
  text-align: center;
  padding: 15px 20px;
  line-height: 28px; }

h3 {
  letter-spacing: 2px;
  font-size: 23px;
  margin: 0 0 0 20px;
  transform: translateY(-50%);
  padding: 5px 20px;
  background: #212121;
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  text-align: left; }

.external {
  color: #7CB4C1;
  text-decoration: underline;
  transition: all .2s ease; }
  .external:hover {
    color: #E9B493; }

.portfolio-pieces__piece-link {
  display: inline-block;
  width: 140px;
  text-align: center;
  color: #FFF;
  background: #7CB4C1;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 20px;
  transition: all .3s ease; }
  .portfolio-pieces__piece-link:hover {
    background: #FFF;
    color: #7CB4C1;
    box-shadow: inset 0 0 0 2px #7CB4C1; }

.github {
  color: #7CB4C1;
  background: #FFF;
  box-shadow: inset 0 0 0 2px #7CB4C1; }
  .github:hover {
    background: #7CB4C1;
    color: #FFF; }

.button-container {
  padding: 0 0 20px;
  text-align: center; }
  .button-container .resume-link {
    display: inline-block;
    background: white;
    border: none;
    color: #7CB4C1;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    border: 2px solid #7CB4C1;
    padding: 10px 15px;
    transition: all .3s ease; }
    .button-container .resume-link:hover {
      color: #FFF;
      background: #7CB4C1; }

@media all and (max-width: 1080px) {
  .about__repertoire-list {
    padding: 0 100px; } }

@media all and (max-width: 970px) {
  .wrapper {
    width: 85%; }
  nav {
    -ms-flex-pack: center;
        justify-content: center; }
  nav ul {
    -ms-flex-pack: center;
        justify-content: center; }
  nav li {
    margin: 0 50px; }
  .main__landing {
    width: 75%; }
  .about__repertoire-list div {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(25% - 40px); } }

@media all and (max-width: 900px) {
  .about__repertoire-list {
    width: 100%;
    padding: 0; } }

@media all and (max-width: 800px) {
  .wrapper {
    width: 90%; }
  .about {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .about > div {
      width: 100%; }
  .originalpic {
    display: none; }
  .minpic {
    display: block;
    width: 100%; }
  .about__repertoire-list {
    width: 100%; } }

@media (max-width: 650px) {
  .wrapper {
    width: 100%; }
  .logo {
    bottom: 0;
    transform: translate(-50%, 60.5%); }
  .hidden-menu {
    display: block;
    margin-right: 60px; }
  nav {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  nav ul {
    top: -100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    transition: all .3s ease; }
  nav li, .fa-times {
    margin: 40px 0; }
  .main__landing {
    width: 100%; }
    .main__landing::before {
      right: 0;
      left: 0;
      border-right: none;
      border-left: none; }
  .about__repertoire-list {
    padding: 0; }
  .about__repertoire-list div {
    width: calc(33.33% - 40px); }
  h3 {
    margin: 0 20px;
    display: block;
    text-align: center; }
  .button-container {
    margin: 0 auto;
    text-align: center; }
  .portfolio-pieces__piece-link {
    margin: 20px 10px 0; }
  .footer-left, .footer-right {
    width: 400px;
    height: 400px; }
  .footer-left {
    background-position: -200px 195px; }
  .footer-right {
    background-position: 200px 195px; } }
