@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';
@import 'partials/footer';

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	color: $font;
	padding: 0 30px;
	position: relative;
	z-index: 2;

	div {
		width: 45%;
	}

	h2 {
		text-align: left;
	}

	p {
		line-height: 28px;
	}
}

.originalpic, .minpic {
	box-shadow: -5px 7px 30px $bg;
}

.originalpic {
	display: block;
	width: 100%;
}

.minpic {
	display: none;
}

blockquote {
	margin: 0 20px 40px;
	padding-left: 20px;
	padding-right: 10px;
	position: relative;

	&::before, &::after {
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
	}

	&::before {
		top: -20px;
		left: -20px;
		border-top: 2px solid $bright;
		border-left: 2px solid $bright;
	}

	&::after {
		bottom: -20px;
		right: -20px;
		border-bottom: 2px solid $bright;
		border-right: 2px solid $bright;
	}
}

.jk {
	text-decoration: line-through;
	color: gray;
}

.about__repertoire {
	margin-top: 50px;
	padding: 40px;
	background: $bg;	
	color: $font;
}

.about__repertoire-list {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	
	margin: 0 auto;
	padding: 0 150px;

	p {
		margin: 0;
		font-size: 17px;
		color: $white;
	}
	
	img {
		width: 60px;
	}

	div {
		width: calc(20% - 20px);
		margin: 45px 10px;
	}
}

.portfolio {
	padding: 30px;
	position: relative;
	z-index: 2;
}

.portfolio-pieces__piece-img img {
	width: 100%;
	display: block;
}

.portfolio-pieces__piece {
	position: relative;
	padding: 50px 0;

	&:first-child {
		padding-top: 0;
	}

	&:not(:last-child)::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		bottom: 0;
		background: $bg;
	}
}

.portfolio-pieces__piece-skills {
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: bold;
	position: relative;

	&::before, &::after {
		content: '';
		position: absolute;
		height: 20px;
		width: 20px;
	}

	&::before {
		top: -10px;
		left: 0;
		border-top: 2px solid $bright;
		border-left: 2px solid $bright;
	}

	&::after {
		bottom: -10px;
		right: 0;
		border-bottom: 2px solid $bright;
		border-right: 2px solid $bright;
	}

	ul {
		width: 100%;
	}

	li {
		margin: 10px;
	}
}

.details p {
	text-align: center;
	padding: 15px 20px;
	line-height: 28px;
}

h3 {
	letter-spacing: 2px;
	font-size: 23px;
	margin: 0 0 0 20px;
	transform: translateY(-50%);
	padding: 5px 20px;
	background: $black;
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	text-align: left;
}

.external {
	color: $bright;
	text-decoration: underline;
	transition: all .2s ease;

	&:hover {
		color: $hover;
	}
}

.portfolio-pieces__piece-link {
	display: inline-block;
	width: 140px;
	text-align: center;
	color: $white;
	background: $bright;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-left: 20px;
	transition: all .3s ease;

	&:hover {
		background: $white;
		color: $bright;
		box-shadow: inset 0 0 0 2px $bright;
	}
}

.github {
	color: $bright;
	background: $white;
	box-shadow: inset 0 0 0 2px $bright;

	&:hover {
		background: $bright;
		color: $white;
	}
}

.button-container {
	padding: 60px 0 20px;
	text-align: center;

	.resume-link {
		background: white;
		border: none;
		color: $bright;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 18px;
		border: 2px solid $bright;
		padding: 10px 15px;
		transition: all .3s ease;

		&:hover {
			color: $white;
			background: $bright;
		}
	}
}

@import 'partials/media';